@{
  Layout = "_Layout";
}

<div class="container">
<h3>List of all the departure flights for this city:</h3>

<ol>
@foreach (var flight in Model["departureFlights"])
{
  <li><a href='/flights/@flight.GetId()'>@flight.GetFlightNumber()</a></li>
}
</ol>

<h3>List of all the arrival flights for this city:</h3>

<ol>
@foreach (var flight in Model["arrivalFlights"])
{
  <li><a href='/flights/@flight.GetId()'>@flight.GetFlightNumber()</a></li>
}
</ol>
<p><a href='/cities'>Return to city list</a></p>
<p><a href='/'>Return to Main Page</a></p>

</div>
