@{
  Layout = "_Layout";
}

<div class="container">
<h3>Here are all the flights for this city:</h3>

<ol>
@foreach (var flight in @Model["flights"])
{
  <li><a href='/cities/@Model["city"].GetId()/flights/@flight.GetId()'>@flight.GetFlightNumber()</a></li>
}
</ol>

<p><a href='/cities/@Model["city"].GetId()/flights/new'>Add a new flight</a></p>
<p><a href='/cities'>Return to city list</a></p>
<p><a href='/'>Return to Main Page</a></p>

</div>